.file {
  font-weight: 500;

  &__icon {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background-image: url('../../../../../img/send-file.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__input {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
  }

}