@import "../../../../../style/vars";
.search {
  position: relative;
  margin: 0 0 10px 0;

  &__input {
    border-radius: 4px;
    background-color: rgba(190, 231, 246, .2);
    border: 1px solid rgba(0, 182, 244, .2);
    padding: 5px 32px 5px 16px;
    outline: none;
    width: 100%;
    transition: border-color .2s ease-in-out;

    &:focus {
      border-color: $blue;
    }

    &::placeholder {
      color: $dark-blue;
    }
  }

  &__btn {
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url('../../../../../img/search-blue.svg');
  }
}