@import '../../../../style/vars';

.pagination {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  &__toggle {
    white-space: nowrap;
    text-decoration: underline;
    color: $blue;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 15px;
  }

  &__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__buttons {
    display: flex;
    align-items: center;
    span {
      margin: 0 4px;
    }
  }

  &__btn {
    width: 26px;
    height: 26px;
    border: 1px solid #C4C4C4;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color .2s ease-in-out;
    &:disabled {
      pointer-events: none;
    }

    &:before {
      content: '';
      display: block;
      width: 7px;
      height: 12px;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center center;
      background-color: #C4C4C4;
      transition: background-color .2s ease-in-out;
    }
    &:hover {
      border-color: $blue;
      &:before {
        background-color: $blue;
      }
    }

    &.prev {
      margin-right: 14px;
      margin-left: 20px;
      &:before {
        mask-image: url('../../../../img/arr-prev.svg');
      }
    }
    &.next {
      &:before {
        mask-image: url('../../../../img/arr-next.svg');
      }
    }
  }

}