@import "../../../style/vars";
.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: 1px solid $blue;
  border-radius: 50%;
  font-weight: 500;
  text-decoration: none;
}
