@import "../../../style/vars";

.wrap {
  display: grid;
  grid-template-columns: 380px 1fr;
  gap: 16px;
  height: 100%;
}

.applications {
  padding: 30px 15px 0 10px;
  max-height: 840px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid $gray;
  background-color: $white;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(0deg, #FFFFFF 24.28%, rgba(255, 255, 255, 0) 125.82%);
    border-radius: 4px 4px 0px 0px;
    z-index: 10;
    opacity: 1;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
  }

  &.end {
    &::before {
      opacity: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-right: 20px;
  }

  &__button {
    margin-left: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $blue;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
  }

  &__top {
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 20px;
    margin-bottom: 25px;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__list {
    overflow-y: auto;
    max-height: 640px;
    padding: 0 10px 0px 20px;
    scrollbar-color: $blue $gray;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 10px;
      width: 3px;
      height: 27px;
    }
  }

  &__null {
    font-weight: 500;
    color: $silver-text;
  }
}

.sort {
  display: flex;
  margin-top: 10px;

  &__caption {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $silver-text;
    margin-right: auto;
  }

  &__btn {
    margin-right: 18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-right: 10px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    transition: color .2s ease-in-out;

    &::before {
      content: '';
      color: $black;
      position: absolute;
      width: 11px;
      height: 6px;
      top: 50%;
      transform: translateY(-50%);
      right: -5px;
      mask-image: url('../../../img/arrow-black.svg');
      background-color: $black;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center center;
      transition: background-color .2s ease-in-out, transform .2s ease-in-out;
    }
  }
}

.application {
  max-width: 318px;
  padding: 16px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  background-color: $white;
  border: 1px solid $gray;
  transition: all .2s ease-in-out;
  cursor: pointer;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border-color: $blue;
  }

  &.active {
    background-color: rgba(190, 231, 246, .2);
    border-color: #00B6F4;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    position: relative;

    &.not {
      padding-left: 20px;

      &::before {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        background-color: $red;
        top: 50%;
        left: 0;
        border-radius: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__title {
    font-weight: 500;
    margin-right: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__status {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;

    &.close {
      color: $silver-text;
      background-color: $gray;
    }

    &.open {
      background-color: rgba(13, 250, 180, .2);
      color: $green;
    }

    &.position {
      position: absolute;
      top: 3px;
      right: 0;
    }

  }

  &__message {
    font-size: 12px;
    line-height: 16px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid $silver-shape;
    padding-left: 33px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-image: url('../../../img/support-mes.svg');
    }
  }

  &__date {
    font-size: 12px;
    line-height: 16px;
    color: $silver-text;
    margin-top: 8px;
  }
}


.chat {
  padding: 30px 15px 30px 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid $gray;
  background-color: $white;
  position: relative;
  max-height: 840px;
  display: flex;
  flex-direction: column;

  &__top {
    padding: 0 15px 0 20px;
  }

  &__head {
    border-bottom: 1px solid $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 115px;
      background: linear-gradient(0deg, #FFFFFF 24.28%, rgba(255, 255, 255, 0) 125.82%) no-repeat;
      border-radius: 4px 4px 0;
      transform: translateY(calc(100% + 1px)) rotate(180deg);
      z-index: 10;
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }

    &.end {
      &::before {
        opacity: 1;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-right: 30px;
  }

  &__status {
    padding: 4px 8px;
    color: $silver-text;
    background-color: $gray;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__wrapper {


  }

  &__messages {
    padding: 15px 15px 20px 20px;
    height: 660px;
    overflow: auto;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    scrollbar-color: $blue $gray;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue;
      border-radius: 10px;
      width: 3px;
      height: 27px;
    }
  }

  &__date {
    position: absolute;
    z-index: 15;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 150%);
    font-weight: 500;
    color: $silver-text;
  }

  &__bot {
    padding: 25px 15px 0 20px;
    border-top: 1px solid $gray;
  }
}

.message {
  position: relative;
  margin-bottom: 10px;
  max-width: 470px;
  min-width: 165px;
  width: fit-content;

  &:last-child {
    margin-bottom: 0;
  }

  &.my {
    margin-left: auto;

    .message__body {
      background-color: rgba(0, 182, 244, .2);
    }

    .message__author {
      width: fit-content;
      margin-left: auto;

      &:before {
        background-image: url('../../../img/user.svg');
      }
    }
  }

  &.sup {
    margin-right: auto;

    .message__body {
      background-color: $silver-shape;
    }

    .message__author:before {
      background-image: url('../../../img/support-mes.svg');
    }
  }


  &__body {
    padding: 16px 83px 16px 22px;
    border-radius: 4px;
    position: relative;
  }

  &__author {
    font-weight: 500;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  &__date {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
    line-height: 16px;
    color: $silver-text;
  }
}

.new {
  padding: 30px 40px;
  height: 840px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid $gray;
  background-color: $white;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    position: relative;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
  }

  &__textarea {
    display: flex;
    width: 100%;
    flex-grow: 1;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    padding: 35px 0 50px;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    flex-grow: 1;
  }

  &__button {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
  }


}




