@import "../../style/vars";

.form {
  width: 100%;

  &.registration {
    max-width: 380px;
    margin: 0 auto;
  }

  &__caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  &__headline {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin-bottom: 24px;

    span {
      color: $blue;
    }
  }

  &__row {
    display: flex;
    gap: 16px;
  }

  &__col {
    width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: $dark-blue;
    margin-bottom: 22px;
  }

  &__buttons {
    display: flex;
    margin-top: 28px;
    justify-content: space-between;
    width: 100%;
  }

  &__scan {
    margin-bottom: 22px;
  }
  &__date {
    margin-bottom: 16px;
  }
}

.agreement {
  display: flex;
  margin-top: 34px;

  &__text {
    margin-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $black;

    a {
      color: $blue;
    }
  }
}

.fill {
  padding: 4px 17px;
  margin-bottom: 24px;
  font-weight: 500;
  color: $dark-blue;
  border-radius: 4px;
  border: 1px solid $dark-blue;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.recovery {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $blue;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.recommendation {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $blue;
  margin: 8px 0 16px;
}

.file {
  display: inline-block;
  padding-left: 90px;
  position: relative;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &.one {
    &::before {
      background-image: url('../../img/scan-1.svg');
    }
  }

  &.two {
    &::before {
      background-image: url('../../img/scan-2.svg');
    }
  }

  &__input {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
  }

  &__title {
    color: $silver-text;
  }

  &__label {
    cursor: pointer;
    color: $blue;
    text-decoration: underline;
    transition: color .2s ease-in-out;

    &.filled {
      color: $black;
      text-decoration: none;
    }
  }

  &__clear {
    background-color: transparent;
    color: $blue;
    border: none;
    margin-left: 15px;
    cursor: pointer;
  }
}

.select {
  margin-bottom: 16px;

  &__caption {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}

.hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}




