@import "../../../style/vars";

.textarea {
  margin-bottom: 16px;

  &__caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &__field {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    width: 100%;
    resize: none;
    padding: 8px 16px;
    border: 1px solid $gray;
    border-radius: 4px;
    outline: none;
    transition: border-color .2s ease-in-out;

    &::placeholder {
      color: $silver-text;
    }

    &:focus {
      border-color: $blue;
    }

    &.error {
      border-color: $red;
    }
  }

  &__error {
    font-size: 12px;
    line-height: 16px;
    color: $red;
    font-weight: 500;
    margin-top: 5px;
  }
}